body{
    background: #3C4B5A;
}

circle{
    fill: #fff;
    stroke: red;
    transition: 0.3s;
    stroke-width: 3px;
    cursor: pointer;
    
    & ~ text{
        transition: 0.3s;
        fill: none;
        stroke-width: 0;
        font: 10px sans-serif;
    }
    
    &:hover{
        r: 7px;
        stroke-width: 3.5px;
        
        & ~ text{
            fill: white;
        }
    }
    
    /* Extensions */
    &.py{
        stroke: darken(#00C8F9, 5%);
    }
    
    &.init{
        stroke: darken(#00C8F9, 8%);
        r: 6.5px;
        
        &:hover{
            r: 8px;
            stroke-width: 5px;
        }
    }
}

line {
  fill: none;
  stroke: #c1c1c1;
  stroke-width: 1.5px;
}